*{
    margin: 0;
    padding: 0;
    font-family: Century Gothis;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url("../Images/C.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
}
ul{
float:right;
list-style-type: none;
}
ul li{
display:inline-block;
margin-top: 25px;
}
ul li a{
text-decoration: none;
color: #000;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;

}

ul li a:hover{
background-color: #fff;
color: #000;
}
ul li.NavDesign a{
  background-color: #fff;
  color: #000;
}
.logo img{
float:left;
width:150px;
height: auto;
}
.main{
max-width: 1200px;
margin : auto;
padding-bottom: 10px;
}

.btn{
border:1px solid #000;
padding: 10px 15px;
color: #000;
text-decoration: none;
transition: 0.6s ease;
}
.overlay{
  max-width: 550px;
  width:90%;
  background-color: grey;
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
}
.overlay h1{
  text-align: center;
}

input,textarea{
  width:100%;
  padding:10px;
  box-sizing: border-box;
  outline: none;
  resize:none;
  border:none;
  border-bottom: 1px solid #d3d3d3;
}
.center{
  text-align: center;
  padding-left: 160px;
  padding-right: 160px;
}
input[type ="submit"]
{
  margin-top: 30px;
  width: 90%;
  height: px;
  max-width: 200px;
  cursor: pointer;
}
.A{
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: space-between;
}

.rightInfo{
  max-width: 550px;
  width:100%;
  background-color: grey;
  margin: 17vh 20vh 0 20vh;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
footer{

  background-color: grey;
  color: #fff;
  text-align: center;
  height: 5%;
}
footer p{
  padding-top:5px;
}
